.git
.gitignore
log/*
tmp/*
storage/*
!tmp/pids/.keep
!tmp/cache/.keep
!storage/.keep
.env*
!.env*.erb
config/master.key
coverage/
node_modules/
test/
spec/
*.md
Dockerfile
docker-compose*.yml
.dockerignore
